<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/User/userScript.js}" defer></script> <!-- Подключаем JS файл -->
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<br/>
<hr/>
<br/>

<div id="user-list">
    <!-- Список адресов будет загружен здесь -->
</div>

<div>
    <button id="prev-page" style="display:none;">Назад</button>
    <button id="next-page">Далее</button>
</div>

</body>
</html>