<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<!--<p><a th:href="@{/api/v1/store/productCategory/newCategory}">Add new product category</a></p>-->
</br>
</hr>
</br>
<div th:each="user : ${listOfUsers}">
    <a th:text="${user.getLogin() + ', ' + user.getRole().getUserRole()}">category</a>
    <form th:method="DELETE"
          th:action="@{/api/v1/store/deleteUser/{login}(login=${user.getLogin()})}">
        <input type="submit" value="Удалить">
    </form>
    </hr>
    </br>
</div>
</body>
</html>