<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
</head>
<body>
<a th:href="@{/api/v1/store/cart/{login}(login = ${user.getLogin()})}">Вернуться в корзину</a>

<form th:method="POST" th:action="@{/api/v1/store/order/{login}/newOrder(login=${user.getLogin()})}" th:object="${order}">
    <label for="listAddress">Выберите адрес:</label>
    <select th:field="*{deliveryAddress}" id="listAddress">
        <option th:each="deliveryAddress : ${listAddress}"
                th:value="${deliveryAddress.id}"
                th:text="${deliveryAddress.city} + ', ' + ${deliveryAddress.street} + ' ' + ${deliveryAddress.houseNumber}">
        </option>
    </select>
    <div style="color:red" th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}">Delivery address error</div>

    <button type="submit">Сделать заказ по данному адресу</button>

    <div th:if="${#fields.hasGlobalErrors()}" style="color:red;">
        <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
    </div>

    <input type="hidden" th:field="*{id}" id="id" />
    <input type="hidden" th:field="*{user}" id="${order.getUser()}}" />
    <input type="hidden" th:field="*{orderDate}" id="${order.getOrderDate())}}" />
    <input type="hidden" th:field="*{orderStatus}" id="${order.getOrderStatus())}}" />
    <input type="hidden" th:field="*{expectedReceiveDate}" id="${order.getExpectedReceiveDate())}}" />
</form>
</body>
</html>