<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User orders</title>
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>

<div th:each="order : ${listOrder}">
    <a th:text="${productInCart.getProduct().getName() + ', ' + productInCart.getNumberOfProduct()}">product</a>
    <form th:method="DELETE"
          th:action="@{/api/v1/store/deleteProductInCart/{login}/{productId}
          (login=${user.getLogin()},
          productId=${productInCart.getProduct().getId()})}">
        <input type="submit" value="Удалить полностью товар из корзины">
    </form>
    <form th:method="PATCH"
          th:action="@{/api/v1/store/deleteProductInCart/{login}/{productId}
          (login=${user.getLogin()},
          productId=${productInCart.getProduct().getId()})}">
        <input type="submit" value="Удалить 1 товар">
    </form>
</div>

</body>
</html>