<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User orders</title>
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<table>
    <thead>
    <tr>
        <th>ID заказа</th>
        <th>Дата заказа</th>
        <th>Ожидаемая дата получения</th>
        <th>Статус заказа</th>
        <th>Адрес доставки</th>
        <th>Товары</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${listOrder}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderDate}"></td>
        <td th:text="${order.expectedReceiveDate}"></td>
        <td th:text="${order.orderStatus.getStatus()}"></td>
        <td th:text="${'г. ' + order.getDeliveryAddress().getCity() +
        ', ул. ' + order.getDeliveryAddress().getStreet() +
        ', д. №' + order.getDeliveryAddress().getHouseNumber()}"></td>
        <td>
            <ul>
                <li th:each="productInOrder : ${order.getProductsInOrders()}">
                    <span th:text="${productInOrder.product.getName()}">Товар</span> x
                    <span th:text="${productInOrder.getNumberOfProduct()}">Количество</span> -
                    <span th:text="${productInOrder.product.getPrice()}">Цена</span>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>