<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/Product/productScript.js}" defer></script>
</head>
<body>
<a href="/api/v1/store">Вернуться на главную страницу</a>
<p><button id="add-product-button">Добавить новый товар</button></p>
<br/>
<hr/>
<br/>
<div id="product-list">
    <!-- Список товаров будет загружен здесь -->
</div>

<div>
    <button id="prev-page" style="display:none;">Предыдущие</button>
    <button id="next-page">Следующие</button>
</div>
</body>
</html>