<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let seller = /*[[${seller.getLogin()}]]*/ {};
        /*]]>*/
    </script>
<!--    <script> let seller = [[${seller.login}]]; // Убедитесь, что это правильно</script>-->
    <script src="/js/Product/productScript.js" defer></script>
</head>
<body>
<a href="/api/v1/store">Вернуться на главную страницу</a>
<p><a th:href="@{/api/v1/store/products/{login}/newProduct(login=${seller.getLogin()})}">Добавить новый товар</a></p>
<br/>
<hr/>
<br/>
<div id="product-list">
    <!-- Список товаров будет загружен здесь -->
</div>

<div>
    <button id="prev-page" style="display:none;">Предыдущие</button>
    <button id="next-page">Следующие</button>
</div>

</body>
</html>