<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/productCSS.css">
    <title>Product page</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <div class="nav__right">
                    <a class="nav__link" th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="product-container">
    <p><img th:src="@{${product.imagePath}}" alt="Изображение товара" style="max-width: 200px; max-height: 200px;"/></p>
    <p class="text" th:text="${'Товар: ' + product.getName()}">name</p>
    <p class="text" th:text="${'Количество на складе: ' + product.getNumberOfProducts()}">numberOfProducts</p>
    <p class="text" th:text="${'Цена: ' + product.getPrice()}">price</p>
    <p class="text" th:text="${'Категории продукта: ' + product.getProductCategoriesAsString()}">productCategories</p>
    <p class="text" th:text="${'Продавец: ' + product.getUser().getLogin()}">seller</p>
</div>
</body>
</html>