<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Address page</title>
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<p><a th:href="@{/api/v1/store/deliveryAddress/newAddress}">Добавить новый адрес пункта выдачи</a></p>
</br>
</hr>
</br>
<div th:each="deliveryAddress : ${listAddress}">
    <a th:text="${'г. ' + deliveryAddress.getCity() + ', ул. ' + deliveryAddress.getStreet() + '  д. №'
        + deliveryAddress.getHouseNumber()}">address</a>
    <form th:method="DELETE"
          th:action="@{/api/v1/store/deliveryAddress/deleteAddress/{addressId}(addressId=${deliveryAddress.getId()})}">
        <input type="submit" value="Удалить">
    </form>
    </hr>
    </br>
</div>



</body>
</html>