<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New address</title>
</head>
<body>
<form th:method="POST" th:action="@{/api/v1/store/deliveryAddress/newAddress}" th:object="${deliveryAddress}">
  <label for="city">Введите город: </label>
  <input type="text" th:field="*{city}" id="city"/>
  <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">City error</div>
  <br/>
  <label for="street">Введите улицу: </label>
  <input type="text" th:field="*{street}" id="street"/>
  <div style="color:red" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Street error</div>
  <br/>
  <label for="houseNumber">Введите номер дома: </label>
  <input type="text" th:field="*{houseNumber}" id="houseNumber"/>
  <div style="color:red" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">House number error</div>
  <br/>

  <div th:if="${#fields.hasGlobalErrors()}" style="color:red;">
      <p th:each="error : ${#fields.globalErrors()}" th:text="${error}"></p>
  </div>


  <input type="hidden" th:field="*{id}" id="id" />

  <input type="submit" value="Создать !"/>
</form>
</body>
</html>