<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders to address</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/Order/ordersToAddressScript.js}" defer></script> <!-- Подключаем JS файл -->
</head>
<body>
<a href="/api/v1/store">Вернуться на главную страницу</a>

<table>
    <thead>
    <tr>
        <th>ID заказа</th>
        <th>Дата заказа</th>
        <th>Ожидаемая дата получения</th>
        <th>Покупатель</th>
        <th>Статус заказа</th>
        <th>Товары</th>
    </tr>
    </thead>
    <tbody id="order-table-body">
    <!-- Заказы будут загружены сюда с помощью AJAX -->
    </tbody>
</table>

<div id="pagination">
    <button id="prev" data-page="0" style="display:none;">Назад</button>
    <button id="next" data-page="1">Вперед</button>
</div>


</body>
</html>