<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/addressCategoryProductCSS.css">
    <title>User orders</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let user = /*[[${user.getLogin()}]]*/ {};
        /*]]>*/
    </script>
    <script th:src="@{/js/Order/userOrdersScript.js}" defer></script> <!-- Подключаем JS файл -->
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <div class="nav__right">
                    <a class="nav__link" th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="order-container">
    <table>
        <thead>
        <tr class="address-item">
            <th class="address-text">ID заказа</th>
            <th class="address-text">Дата заказа</th>
            <th class="address-text">Дата получения</th>
            <th class="address-text">Статус заказа</th>
            <th class="address-text">Адрес доставки</th>
            <th class="address-text">Товары</th>
        </tr>
        </thead>
        <tbody id="order-table-body">
        <!-- Заказы будут загружены сюда с помощью AJAX -->
        </tbody>
    </table>

    <div class="pagination-buttons" id="pagination">
        <button class="btn" id="prev" data-page="0" style="display:none;">Назад</button>
        <button class="btn" id="next" data-page="1">Далее</button>
    </div>
</div>

</body>
</html>