<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/addressCategoryProductCSS.css">
    <title>Orders to address</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/Order/ordersToAddressScript.js}" defer></script>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <div class="nav__right">
                    <a class="nav__link" href="/api/v1/store">Вернуться на главную страницу</a>
                </div>
            </nav>
        </div>
    </div>
</header>

<div class="form-container">
    <h3 class="text">Поиск заказа</h3>
    <label class="text" for="search-id">ID заказа:</label>
    <input type="number" id="search-id" placeholder="Введите ID заказа" />
    <br/>
    <button class="search-btnOrder btn" id="search-button">Поиск по ID</button>
</div>

<div class="order-container">
    <table>
        <thead>
        <tr class="address-item">
            <th class="address-text">ID заказа</th>
            <th class="address-text">Дата заказа</th>
            <th class="address-text">Дата получения</th>
            <th class="address-text">Покупатель</th>
            <th class="address-text">Статус заказа</th>
            <th class="address-text">Товары</th>
        </tr>
        </thead>
        <tbody id="order-table-body">

        </tbody>
    </table>

    <div class="pagination-buttons" id="pagination">
        <button class="btn" id="prev" data-page="0" style="display:none;">Назад</button>
        <button class="btn" id="next" data-page="1">Далее</button>
    </div>
</div>

</body>
</html>