<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<p><a href="/api/v1/store/newUser">Register as a user (test)</a></p>
<p><a href="/api/v1/store/newUser">Register as a seller (test)</a></p>

<div th:if="${isAuthenticated}">
<!--    <h1>Welcome, authenticated ${currentUser}!</h1>-->
    <h1 th:text="'Добро пожаловать, ' + ${currentUser.getLogin()}  + '!'">user</h1>
    <br/>
    <p><a href="/logout">Выйти из аккаунта</a></p>
    <p><a th:href="@{/api/v1/store/{login}/profile(login=${currentUser.getLogin()})}">Профиль</a></p>
    <!-- Дополнительный контент для зарегистрированных пользователей -->
    <div th:if="${currentUser.getRole().getUserRole() == 'Admin'}">
        <!--    <h1>Welcome, authenticated ${currentUser}!</h1>-->
        <p><a th:href="@{/api/v1/store/newUser/{role}(role=${admin.getUserRole()})}">Зарегистрировать нового администратора</a></p>
        <p><a th:href="@{/api/v1/store/newUser/{role}(role=${worker.getUserRole()})}">Зарегистрировать нового работника</a></p>
        <p><a th:href="@{/api/v1/store/deliveryAddress}">Адреса пунктов выдачи</a></p>
        <p><a th:href="@{/api/v1/store/listOfUsers}">Список пользователей</a></p>
        <!-- Дополнительный контент для зарегистрированных пользователей -->
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Seller' or currentUser.getRole().getUserRole() == 'Admin'}">
        <p><a th:href="@{/api/v1/store/productCategory}">Категории товаров</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Seller'}">
        <p><a th:href="@{/api/v1/store/products/{login}(login=${currentUser.getLogin()})}">Товары</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'User'}">
        <p><a th:href="@{/api/v1/store/cart/{login}(login=${currentUser.getLogin()})}">Корзина</a></p>
        <p><a th:href="@{/api/v1/store/order/{login}/orders(login=${currentUser.getLogin()})}">Мои заказы</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Worker' or currentUser.getRole().getUserRole() == 'Admin'}">
        <form th:method="GET"
              th:action="@{/api/v1/store/orders}">
            <input type="hidden" name="addressId" th:value="${'all'}">
            <input type="submit" value="Заказы">
        </form>
    </div>

    <div th:each="product : ${listOfProduct}">
        <p><img th:src="@{${product.imagePath}}" alt="Изображение товара" style="max-width: 200px; max-height: 200px;"/></p>

        <a th:text="${product.getName() + ', Цена: ' + product.getPrice() + ', Количество на складе: '
        + product.getNumberOfProducts()}">product</a>
<!--        <img th:src="@{${product.imagePath}}" alt="Изображение товара" style="max-width: 200px; max-height: 200px;"/>-->

        <form th:method="GET"
              th:action="@{/api/v1/store/product/{productId}(productId=${product.getId()})}">
            <input type="submit" value="Страница товара">
        </form>
        <div th:if="${currentUser.getRole().getUserRole() == 'User'}">
            <form th:method="POST"
                  th:action="@{/api/v1/store/cart/{login}/{productId}(login=${currentUser.getLogin()}, productId=${product.getId()})}">
                <input type="submit" value="Добавить в корзину">
            </form>
        </div>
        <hr/>
    </div>


</div>
<div th:unless="${isAuthenticated}">
    <h1>Добро пожаловать, гость!</h1>
    <br/>
    <p><a href="/login">Войти</a></p>
    <p><a th:href="@{/api/v1/store/newUser/{role}(role=${user.getUserRole()})}">Зарегистрироваться как пользователь</a></p>
    <p><a th:href="@{/api/v1/store/newUser/{role}(role=${seller.getUserRole()})}">Зарегистрироваться как продавец</a></p>
    <!-- Контент для незарегистрированных пользователей -->

    <div th:each="product : ${listOfProduct}">
        <p><img th:src="@{${product.imagePath}}" alt="Изображение товара" style="max-width: 200px; max-height: 200px;"/></p>

        <a th:text="${product.getName() + ', Цена: ' + product.getPrice() + ', Количество на складе: '
        + product.getNumberOfProducts()}">product</a>
        <form th:method="GET"
              th:action="@{/api/v1/store/product/{productId}(productId=${product.getId()})}">
            <input type="submit" value="Страница товара">
        </form>
        </hr>
        </br>
    </div>
</div>





</body>
</html>