body {
    background-image: url('http://localhost:8080/images/Фон.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh; /* Высота 100% экрана */
    margin: 0; /* Убираем отступы по умолчанию */
}


.text {
    font-family: "Bluecurve-Light", sans-serif;
    color: #fff;
    width: 200px; /* Фиксированная ширина для меток */
    display: inline-block; /* Позволяет меткам занимать фиксированную ширину */
}

.textCart {
    font-family: "Bluecurve-Light", sans-serif;
    color: #fff;
    width: 300px; /* Фиксированная ширина для меток */
    display: inline-block; /* Позволяет меткам занимать фиксированную ширину */
    font-size: 20px;
}

.textCenter{
    font-family: "Bluecurve-Light", sans-serif;
    color: #fff;
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем кнопку по горизонтали */
    font-size: 20px;
}

.address-text {
    flex: 1; /* Занимает всё доступное пространство */
    text-align: left; /* Выравнивание текста по левому краю */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.address-container {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: flex-start; /* Выравнивание элементов по верхней части */
    /*margin: 20px auto; !* Отступы сверху и снизу, авто для центрирования *!*/
    padding: 10px; /* Отступы внутри контейнера */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
    width: 100%; /* Ширина контейнера (можно настроить) */
    max-width: 700px; /* Максимальная ширина контейнера */
    margin-top: 105px;
}

.address-item {
    display: flex; /* Используем flexbox для выравнивания текста и кнопок */
    justify-content: space-between; /* Разделяем текст и кнопки по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%; /* Занимаем всю ширину контейнера */
    padding: 10px; /* Отступы внутри элемента */
    border: 1px solid #ccc; /* Граница для визуального разделения */
    border-radius: 5px; /* Закругление углов */
    margin-bottom: 3px; /* Отступ между адресами */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для элемента */
}

.header {
    width: 100%;
    padding-top: 37px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    display: flex; /* Используем flexbox для навигации */
    justify-content: flex-end; /* Выравниваем элементы вправо */
    width: 100%; /* Убедимся, что nav занимает всю ширину */
}

.nav__right {
    display: flex; /* Используем flexbox для выравнивания ссылок и кнопок */
    align-items: center; /* Вертикальное выравнивание */
}

.nav__link {
    display: inline-block;
    margin: 0 15px; /* Отступы между ссылкой и кнопкой */
    position: relative;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #3091ff;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #3091ff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    font-family: "Bluecurve-Light", sans-serif;
    transition: opacity .1s linear;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    margin-left: 15px; /* Отступ между ссылкой и кнопкой */
    height: 40px;
    padding: 10px 15px;
    border-radius: 5px; /* Закругление углов */
    border: 3px solid #fff;
    background: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer; /* Указатель при наведении */
}

.btnCart {
    font-family: "Bluecurve-Light", sans-serif;
    margin-left: 15px; /* Отступ между ссылкой и кнопкой */
    height: 40px;
    padding: 10px 15px;
    border-radius: 5px; /* Закругление углов */
    border: 3px solid #fff;
    background: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer; /* Указатель при наведении */
    font-size: 10px;
    margin-top: 5px;
}

.btn-search {
    margin-left: 50px;
}

.btn-update {
    margin-left: 35px;
}

.btn-create {
    margin-left: 43px;
}

.btn:hover {
    color: #3091ff;
    border-radius: 5px;
    border: 3px solid #3091ff;
}

.update-button, .delete-button {
    margin-left: 10px; /* Отступ между кнопками */
    background: none;
    color: white; /* Цвет текста кнопок */
    border: 3px solid #fff;
    border-radius: 5px; /* Закругление углов */
    padding: 5px 10px; /* Отступы внутри кнопок */
    cursor: pointer; /* Указатель при наведении */
    text-transform: uppercase;
}

.update-button:hover, .delete-button:hover {
    color: #3091ff;
    border-radius: 5px;
    border: 3px solid #3091ff;
}

.pagination-buttons {
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: center; /* Центрируем кнопки по горизонтали */
    margin-top: 5px; /* Отступ сверху для отделения от адресов */
}

.form-container {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: stretch; /* Элементы занимают всю ширину контейнера */
    justify-content: flex-start; /* Выравнивание элементов по верхней части */
    padding: 10px; /* Отступы внутри контейнера */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
    width: 100%; /* Ширина контейнера (можно настроить) */
    max-width: 180px; /* Максимальная ширина контейнера */
    margin-top: 5px; /* Отступ сверху */
    margin-right: 100px;
}

.form-containerCart {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: stretch; /* Элементы занимают всю ширину контейнера */
    justify-content: flex-start; /* Выравнивание элементов по верхней части */
    padding: 10px; /* Отступы внутри контейнера */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
    width: 100%; /* Ширина контейнера (можно настроить) */
    max-width: 430px; /* Максимальная ширина контейнера */
    margin-top: 5px; /* Отступ сверху */
    margin-right: 100px;
}

.form-containerProduct {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: stretch; /* Элементы занимают всю ширину контейнера */
    justify-content: flex-start; /* Выравнивание элементов по верхней части */
    padding: 10px; /* Отступы внутри контейнера */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
    width: 100%; /* Ширина контейнера (можно настроить) */
    max-width: 520px; /* Максимальная ширина контейнера */
    margin-top: 5px; /* Отступ сверху */
    margin-right: 10px;
}

#category-list {
    display: grid; /* Используем сетку для отображения элементов */
    grid-template-columns: repeat(2, 1fr); /* Два столбца одинаковой ширины */
    gap: 10px; /* Отступы между элементами */
}

.category-container {
    display: flex; /* Используем flexbox для выравнивания */
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: center; /* Центрируем элементы по горизонтали */
    justify-content: flex-start; /* Выравнивание элементов по верхней части */
    /*margin: 20px auto; !* Отступы сверху и снизу, авто для центрирования *!*/
    padding: 10px; /* Отступы внутри контейнера */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для контейнера */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для контейнера */
    width: 100%; /* Ширина контейнера (можно настроить) */
    max-width: 500px; /* Максимальная ширина контейнера */
    margin-top: 10px;
}

.category-item {
    display: flex; /* Используем flexbox для выравнивания текста и кнопок */
    justify-content: space-between; /* Разделяем текст и кнопки по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%; /* Занимаем всю ширину контейнера */
    padding: 3px; /* Отступы внутри элемента */
    border: 1px solid #ccc; /* Граница для визуального разделения */
    border-radius: 5px; /* Закругление углов */
    margin-bottom: 3px; /* Отступ между адресами */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для элемента */
}

.form-group {
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: space-between; /* Разделяем метку и поле ввода по краям */
    align-items: center; /* Вертикальное выравнивание */
    width: 100%; /* Занимаем всю ширину контейнера */
    margin-bottom: 10px; /* Отступ между группами полей */
}

.form-group label {
    width: 200px; /* Фиксированная ширина для меток */
}

.form-group input {
    flex: 1; /* Поле ввода занимает оставшееся пространство */
}

.button-container {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем кнопку по горизонтали */
    margin-top: 20px; /* Отступ сверху для отделения от остальных элементов */
}

.button-containerCart {
    display: flex; /* Используем flexbox для выравнивания */
    justify-content: center; /* Центрируем кнопку по горизонтали */
    margin-top: 10px; /* Отступ сверху для отделения от остальных элементов */
}

@font-face {
    font-family: "Bluecurve-Light";
    src: url("../fonts/Bluecurve-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*form {*/
/*    width: 100%; !* Заставляем формы занимать всю ширину контейнера *!*/
/*    margin-bottom: 20px; !* Отступ между формами *!*/
/*    padding: 10px; !* Отступы внутри формы *!*/
/*    background-color: rgba(255, 255, 255, 0.1); !* Полупрозрачный фон для формы *!*/
/*    border-radius: 5px; !* Закругление углов формы *!*/
/*}*/