body {
    background-image: url('http://localhost:8080/images/Фон.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    height: 100vh; /* Высота 100% экрана */
    margin: 0; /* Убираем отступы по умолчанию */
}

.text {
    font-family: "Bluecurve-Light", sans-serif;
    color: #fff;
    width: 200px; /* Фиксированная ширина для меток */
    display: inline-block; /* Позволяет меткам занимать фиксированную ширину */
}

.button-container {
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем кнопку по горизонтали */
    width: 100%; /* Занимаем всю ширину родительского контейнера */
    margin-top: 20px; /* Отступ сверху для кнопки */
}

.form-container {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: flex-start; /* Выравниваем элементы по левому краю */
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный фон для формы */
    padding: 20px; /* Отступы вокруг формы */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Тень для формы */
}

.form-group {
    margin-bottom: 15px; /* Отступ между группами полей */
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
    position: absolute; /* Позиционируем навигацию */
    top: 50px; /* Отступ сверху */
    right: 200px; /* Отступ справа */
}

.nav__link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #3091ff;
}

.nav__link:hover:after {
    opacity: 1;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #3091ff;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    font-family: "Bluecurve-Light", sans-serif;
    transition: opacity .1s linear;
}

.btn {
    font-family: "Bluecurve-Light", sans-serif;
    height: 40px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px; /* Закругление углов */
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    background: none;
    transition: color .1s linear;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px; /* Отступ сверху для кнопки */
}

.btn:hover {
    color: #3091ff;
    border: 3px solid #3091ff;
}

.search-container {
    margin-top: 100px; /* Отступ сверху */
    margin-left: 150px;
    text-align: left; /* Выравнивание по центру */
}

.search-input {
    height: 40px; /* Установите желаемую высоту для поля ввода */
    padding: 0 10px; /* Отступы внутри поля ввода */
    font-size: 16px; /* Размер шрифта */
    width: 300px; /* Установите нужную ширину для поля ввода */
    border: 2px solid #fff; /* Цвет рамки */
    border-radius: 5px; /* Закругление углов */
    box-sizing: border-box; /* Учитываем padding и border в ширине */
    margin-bottom: 15px; /* Отступ снизу между полями ввода */
    margin-left: 15px; /* Отступ снизу между полями ввода */
}

@font-face {
    font-family: "Bluecurve-Light";
    src: url("../fonts/Bluecurve-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}