<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product category</title>
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<p><a th:href="@{/api/v1/store/productCategory/newCategory}">Добавить новую категорию товара</a></p>
</br>
</hr>
</br>
<div th:each="productCategory : ${listProductCategory}">
    <a th:text="${productCategory.getCategory()}">category</a>
    <form th:method="DELETE"
          th:action="@{/api/v1/store/productCategory/deleteCategory/{category}(category=${productCategory.getCategory()})}">
        <input type="submit" value="Удалить">
    </form>
    </hr>
    </br>
</div>
</body>
</html>