<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>
<body>
    <p th:text="'First name: ' + ${user.getFirstName()}">firstName</p>
    <hr/>
    <p th:text="'Last name: ' + ${user.getLastName()}">lastName</p>
    <hr/>
    <p th:text="'Login: ' + ${user.getLogin()}">login</p>
    <hr/>
    <p th:text="'Email: ' + ${user.getEmail()}">email</p>
    <hr/>
    <p th:text="'Phone number: ' + ${user.getPhoneNumber()}">phoneNumber</p>
    <hr/>
    <p th:text="'Role: ' + ${user.getRole().getUserRole()}">role</p>
    <hr/>
    <p><a th:href="@{/api/v1/store/{login}/edit(login=${user.getLogin()})}">Edit profile</a></p>
    <p><a th:href="@{/api/v1/store}">Return to the main page</a></p>
<p>
</body>
</html>