<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script th:src="@{/js/General/generalScript.js}" defer></script>
</head>
<body>

<p><a href="/api/v1/store/newUser ">Register as a user (test)</a></p>
<p><a href="/api/v1/store/newUser ">Register as a seller (test)</a></p>

<div th:if="${isAuthenticated}">
    <h1 th:text="'Добро пожаловать, ' + ${currentUser .getLogin()}  + '!'">user</h1>
    <br/>
    <p><a href="/logout">Выйти из аккаунта</a></p>
    <p><a th:href="@{/api/v1/store/{login}/profile(login=${currentUser .getLogin()})}">Профиль</a></p>

    <!-- Дополнительный контент для зарегистрированных пользователей -->

    <div th:if="${currentUser.getRole().getUserRole() == 'Admin'}">
        <!--    <h1>Welcome, authenticated ${currentUser}!</h1>-->
        <p><a th:href="@{/api/v1/store/newUser/{role}(role=${admin.getUserRole()})}">Зарегистрировать нового администратора</a></p>
        <p><a th:href="@{/api/v1/store/newUser/{role}(role=${worker.getUserRole()})}">Зарегистрировать нового работника</a></p>
        <p><a th:href="@{/api/v1/store/deliveryAddressPage}">Адреса пунктов выдачи</a></p>
        <p><a th:href="@{/api/v1/store/listOfUsers}">Список пользователей</a></p>
        <!-- Дополнительный контент для зарегистрированных пользователей -->
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Seller' or currentUser.getRole().getUserRole() == 'Admin'}">
        <p><a th:href="@{/api/v1/store/productCategoryPage}">Категории товаров</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Seller'}">
        <p><a th:href="@{/api/v1/store/products/{login}(login=${currentUser.getLogin()})}">Товары</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'User'}">
        <p><a th:href="@{/api/v1/store/cart/{login}(login=${currentUser.getLogin()})}">Корзина</a></p>
        <p><a th:href="@{/api/v1/store/order/{login}/orders(login=${currentUser.getLogin()})}">Мои заказы</a></p>
    </div>
    <div th:if="${currentUser.getRole().getUserRole() == 'Worker' or currentUser.getRole().getUserRole() == 'Admin'}">
        <p><a th:href="@{/api/v1/store/ordersPage}">Заказы</a></p>
    </div>

</div>

<div th:unless="${isAuthenticated}">
    <h1>Добро пожаловать, гость!</h1>
    <br/>
    <p><a href="/login">Войти</a></p>
    <p><a th:href="@{/api/v1/store/newUser/{role}(role=${user.getUserRole()})}">Зарегистрироваться как пользователь</a></p>
    <p><a th:href="@{/api/v1/store/newUser/{role}(role=${seller.getUserRole()})}">Зарегистрироваться как продавец</a></p>
</div>

<form th:method="GET" th:action="@{/api/v1/store}">
    <input type="text" name="query" placeholder="Поиск товара" required>
    <button type="submit">Поиск</button>
</form>

<div th:each="product : ${listOfProduct}" class="product-item">
    <p><img th:src="@{${product.imagePath}}" alt="Изображение товара" style="max-width: 200px; max-height: 200px;"/></p>
    <a th:text="${product.getName() + ', Цена: ' + product.getPrice() + ', Количество на складе: ' + product.getNumberOfProducts()}">product</a>
    <form th:method="GET" th:action="@{/api/v1/store/product/{productId}(productId=${product.getId()})}">
        <input type="submit" value="Страница товара">
    </form>
    <div th:if="${isAuthenticated}">
        <div th:if="${currentUser.getRole().getUserRole() == 'User'}">
            <button class="add-to-cart" th:data-login="${currentUser.getLogin()}" th:data-productid="${product.getId()}">Добавить в корзину</button>
        </div>
    </div>
    <hr/>
</div>

<div class="pagination">
    <button id="prevPage" onclick="changePage(-1)">Назад</button>
    <span id="pageInfo">Страница 1</span>
    <button id="nextPage" onclick="changePage(1)">Вперед</button>
</div>

</body>
</html>
