<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile page</title>
</head>
<body>
    <p th:text="'Имя: ' + ${user.getFirstName()}">firstName</p>
    <hr/>
    <p th:text="'Фамилия: ' + ${user.getLastName()}">lastName</p>
    <hr/>
    <p th:text="'Логин: ' + ${user.getLogin()}">login</p>
    <hr/>
    <p th:text="'Почта: ' + ${user.getEmail()}">email</p>
    <hr/>
    <p th:text="'Номер телефона: ' + ${user.getPhoneNumber()}">phoneNumber</p>
    <hr/>
    <p th:text="'Роль: ' + ${user.getRole().getUserRole()}">role</p>
    <hr/>
    <p><a th:href="@{/api/v1/store/{login}/edit(login=${user.getLogin()})}">Редактировать профиль</a></p>
    <p><a th:href="@{/api/v1/store}">Вернуться на главную страницу</a></p>
    <form th:method="DELETE"
          th:action="@{/api/v1/store/deleteUser/{login}(login=${user.getLogin()})}">
        <input type="submit" value="Удалить аккаунт">
    </form>
<p>
</body>
</html>