<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product category</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/ProductCategory/productCategoryScript.js}" defer></script> <!-- Подключаем JS файл -->
</head>
<body>
<a th:href="@{/api/v1/store}">Вернуться на главную страницу</a>
<p><button id="add-productCategory-button">Добавить новую категорию</button></p>
<div>
    <h3>Поиск категории</h3>
    <input type="text" id="search-category" placeholder="Введите название категории для поиска"/>
    <button id="search-button">Поиск</button>
</div>
<br/>
<hr/>
<br/>

<div id="new-category-div" style="display:none">
    <h3>Добавить новую категорию</h3>
    <form id="new-category-form">
        <label for="new-category">Введите название категории: </label>
        <input type="text" id="new-category" required/>
        <br/>
        <input type="submit" value="Создать"/>
    </form>
    <br/>
    <hr/>
    <br/>
</div>

<div id="update-category-div" style="display:none">
    <h3>Редактировать категорию</h3>
    <form id="update-category-form">
        <input type="hidden" id="update-id" />
        <label for="update-category">Введите название категории: </label>
        <input type="text" id="update-category" required/>
        <br/>
        <input type="submit" value="Сохранить изменения"/>
    </form>
    <br/>
    <hr/>
    <br/>
</div>

<div id="category-list">

</div>

<div>
    <button id="prev-page" style="display:none;">Назад</button>
    <button id="next-page">Далее</button>
</div>

</body>
</html>